@CHARSET "UTF-8";

/*Font*/
@font-face {
	font-family: Webly;
	src: url('../font/webly.ttf');
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-it.ttf');
	font-style: italic;
}

body {
	font-family: Webly, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #CEEFEE 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #CEEFEE 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #CEEFEE 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF),
		color-stop(1, #CEEFEE) );
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #CEEFEE 100%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #CEEFEE 100%);
}

p {
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-weight: bold;
	text-align: right;
	display: block;
	font-size: 1.17em;
	padding-top: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

h3 {
	font-weight: bold;
	text-align: center;
	display: block;
	font-size: 1.17em;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

h4 {
	font-weight: bold;
	text-align: right;
	display: block;
	font-size: 1.17em;
	padding-top: 10px;
	padding-right: 10px;
	margin-top: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-bottom: 10px;
}

input {
	margin-top: 5px;
	padding-left: 10px;
	font-family: Webly, Helvetica, sans-serif;
}

input:FOCUS {
	outline: none;
}

.feedback {
	padding-top: 10px;
	padding-right: 10px;
	color: #FF6D56;
	float: right;
	text-decoration: none;
}

/* Toolbar*/
#toolbar {
	margin-top: 0px;
	height: 45px;
	width: 100%;
	position: absolute;
	background-image: -ms-linear-gradient(bottom, #182918 0%, #3D6299 100%);
	background-image: -moz-linear-gradient(bottom, #182918 0%, #3D6299 100%);
	background-image: -o-linear-gradient(bottom, #182918 0%, #3D6299 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #182918),
		color-stop(1, #3D6299) );
	background-image: -webkit-linear-gradient(bottom, #182918 0%, #3D6299 100%);
	background-image: linear-gradient(to top, #182918 0%, #3D6299 100%);
}

#logo {
	position: absolute;
	width: 35px;
	margin-top: 6px;
	margin-left: 8px;
}

.login-menu {
	height: 45px;
	float: right;
	padding-right: 15px;
	margin-top: -5px;
	color: white;
	padding-left: 15px;
	font-weight: bold;
	line-height: 45px;
	cursor: pointer;
}

.selected {
	color: black;
	background-color: white;
}

.login-menu:HOVER {
	color: black;
	background-color: white;
}

#login-form {
	display: none;
	width: 21.7%;
	height: 200px;
	top: 45px;
	background-color: #FFF;
	-moz-box-shadow: 1px 2px 2px 1px #888;
	-webkit-box-shadow: 1px 2px 2px 1px #888;
	box-shadow: 1px 2px 2px 1px #888;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #19283D;
	border-bottom: 1px solid;
	position: absolute;
	z-index: 1;
	margin-left: 76.5%;
	padding: 10px;
}

.input-form-login {
	width: 65%;
	height: 20px;
	border-radius: 8px;
}

.login-button {
	border-radius: 5px;
	font-family: Webly, Helvetica, sans-serif;
	width: 25%;
	height: 30px;
	margin-left: 140px;
	margin-top: -23px;
	font-size: 1em;
	float: right;
}

.email-bold {
	font-size: 1em;
	font-weight: bold;
	margin: 10px;
}

.user-email {
	font-style: italic;
	margin-left: 20px;
}

#login-form img {
	width: 125px;
	margin: 15px 10px;
	float: left;
}

#login-form #collection {
	float: left;
	text-align: center;
	margin: 20px 0px 0px 25px;
	font-size: 1.2em;
}

#login-form #user-panel {
	float: left;
	margin: 20px 0px 0px 40px;
	font-size: 1.2em;
}

#user-panel a {
	text-decoration: none;
}

#collection a {
	text-decoration: none;
}

/*Filter buttons*/
ul.filter-list {
	list-style: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-top: 0px;
	padding-left: 0px;
}

ul.filter-list li {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #8B8989;
	margin-top: 5px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 96%;
	overflow: hidden;
}

ul.filter-list li:HOVER {
	color: #8B8989;
}

ul.filter-list li.active {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #8B8989;
	margin-top: 5px;
}

#filters {
	width: 200px;
	margin: 5px auto;
}

ul#filters li {
	float: left;
	border: 1px solid grey;
	list-style: none;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 20%;
}

#video {
	width: 30px;
	height: 30px;
	background-image: url(../img/video.jpg);
}

#video:HOVER {
	background-image: url("../img/video-h.jpg");
}

#image {
	width: 30px;
	height: 30px;
	background-image: url(../img/image.jpg);
}

#image:HOVER {
	background-image: url("../img/image-h.jpg");
}

#audio {
	width: 30px;
	height: 30px;
	background-image: url(../img/audio.jpg);
}

#audio:HOVER {
	background-image: url("../img/audio-h.jpg");
}

#document {
	width: 30px;
	height: 30px;
	background-image: url(../img/document.jpg);
}

#document:HOVER {
	background-image: url(../img/document-h.jpg);
}

/*Main container */
#wrapper {
	position: absolute;
	margin-top: 45px;
	width: 100%;
	height: 100%;
	max-height: 610px;
}

/*Left sidebar*/
#top-search {
	height: 27%;
}

#left-panel {
	width: 16.3%;
	height: 100%;
	float: left;
	background-color: #A3B4C8;
	-webkit-box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.19);
	box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.19);
}

#similarity,#user-area {
	width: 100%;
	height: 160px;
}

#user-area img {
	width: 96px;
	margin-left: 65px;
	margin-top: 12px;
}

#user-area img:HOVER {
	opacity: 0.7;
}

#active-filters {
	width: 100%;
	height: 31%;
	background-color: #91A1B3;
	position: relative;
}

#filters-panel {
	width: 100%;
	height: 41%;
	position: relative;
}

#search-panel {
	background-color: #284063;
	width: 700px;
	height: 100%;
	border-radius: 0px 10px 10px 0px;
	position: absolute;
	cursor: pointer;
	z-index: 1000;
	left: -670px;
	color: white;
}

.input-form-search {
	width: 220px;
	height: 35px;
	border-radius: 8px;
	float: left;
	margin-top: 72px;
	margin-left: 35px;
}

input[type="file"] {
	width: 225px;
	align-items: baseline;
	color: inherit;
	text-align: start;
	font-family: Webly, Helvetica, sans-serif;
}

.search-button {
	border-radius: 5px;
	font-family: Webly, Helvetica, sans-serif;
	width: 70px;
	height: 25px;
	margin-left: 4px;
	font-size: 0.8em;
	padding-top: 0px;
}

#search-panel #open-close {
	width: 30px;
	float: right;
	height: 100%;
	background-color: #19283D;
	color: white;
	text-align: center;
	line-height: 180px;
	border-radius: 0px 8px 8px 0px;
}

.drop-search-image {
	max-height: 60px;
}

#search-form {
	float: left;
	width: 100px;
	height: 45px;
	border-radius: 8px;
	font-size: 1.2em;
	margin: 0px 0px;
}

#filedrag {
	padding: 5px;
	float: left;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border: 3px dashed #FFF;
	border-radius: 8px;
	margin-top: 40px;
	margin-left: 55px;
}

.dragged-file {
	font-size: 1em;
	color: #505050;
	text-align: center;
	border: 3px dashed #505050;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: 16%;
	width: 64%;
	height: 70px;
	line-height: 68px;
}

.dragged-file img {
	border-radius: 3px;
	border: 4px solid #CACADA;
	cursor: pointer;
	position: relative;
	width: 70px;
	height: 70px;
}

.dragged-file img:HOVER {
	opacity: 0.5;
}

.dragged-file .audio,.dragged-file .text {
	width: 85%;
	height: 55px;
	float: left;
	border: 1px solid #000;
	border-radius: 3px;
	background-image: url('../img/audio-background-blue.jpg');
	padding-left: 50px;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	line-height: 18px;
	font-size: 0.8em;
	margin-left: -14px;
	cursor: pointer;
}

.dragged-file .text {
	background-image: url('../img/document-background-blue.jpg');
}

.dragged-file span:HOVER {
	opacity: 0.5;
}

.dropped-file {
	border: 0px;
}

.dragged-hover {
	background-color: #91A1B3;
}

#exit-tooltip {
	display: none;
	position: absolute;
	width: 113px;
	height: 26px;
	border: 4px solid #0B182C;
	border-radius: 3px;
	background-color: #0B182C;
	border-radius: 5px;
	top: 76px;
	left: 160px;
	z-index: 500;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	color: white;
	line-height: 21px;
}

#exit-tooltip:BEFORE {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #0B182C transparent transparent;
	top: 4px;
	left: -22px;
}

#new-filter {
	width: 76%;
	height: 22px;
	border-radius: 5px;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
}

.button-close {
	background-image: url('../img/button-close.png');
	width: 20px;
	height: 20px;
	float: right;
	display: inline;
	cursor: pointer;
}

.active-filter {
	margin-right: 5px;
}

.active-filters {
	font-weight: bold;
	text-align: right;
	color: #1F1F1F;
	list-style-type: none;
}

.active-filters li {
	line-height: 16px;
	padding-right: 10px;
	margin-top: 8px;
}

#filters-box {
	width: 76%;
	height: 130px;
	overflow: auto;
	padding: 4px;
	border: 1px solid #EEE;
	border-right: 0 solid;
	background-color: #FFF;
	margin-left: 17px;
	padding: 5px;
	border-radius: 5px;
}

.check-button {
	width: 20px;
	height: 20px;
	background-image: url("../img/check-icon.png");
	float: right;
	margin-top: 3px;
	margin-right: 5px;
}

.star,.star-collection {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 40%;
	display: none;
}

.audio-media .star img,.audio-media .star-collection img,.text-media .star img,.media .star img,.text-media .star-collection img,.media .star-collection img, .cluster-media .star img
	{
	height: 100%;
	width: 100%;
	border: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
	opacity: 0.4;
	cursor: pointer;
}

.audio-media .star img,.audio-media .star-collection img,.text-media .star img,.text-media .star-collection img
	{
	margin-top: 20px;
	margin-left: 70%;
}

.star-selected {
	opacity: 1 !important;
	display: block !important;
}

.media .star img:HOVER, .cluster-media .star img:HOVER, .text-media .star img:HOVER,.media .star-collection img:HOVER,.text-media .star-collection img:HOVER,.audio-media .star img:HOVER,.audio-media .star-collection img:HOVER
	{
	border: 0px;
	opacity: 1;
}

/*Results area*/
#results {
	width: 83.7%;
	height: 100%;
	float: left;
}

.panel-header {
	background-image: -ms-linear-gradient(top, #E0E0E0 0%, #8E98AD 100%);
	background-image: -moz-linear-gradient(top, #E0E0E0 0%, #8E98AD 100%);
	background-image: -o-linear-gradient(top, #E0E0E0 0%, #8E98AD 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E0E0E0),
		color-stop(1, #8E98AD) );
	background-image: -webkit-linear-gradient(top, #E0E0E0 0%, #8E98AD 100%);
	background-image: linear-gradient(to bottom, #E0E0E0 0%, #8E98AD 100%);
	height: 8%;
	font-weight: bold;
	-webkit-box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.19);
	box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.19);
	z-index: 1000;
}

.panel-header p {
	float: right;
	font-weight: bold;
	font-size: 1.17em;
	padding-right: 10px;
	margin-top: 12px;
}

.panel-header img {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

.header-elements li {
	list-style: none;
	float: left;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.audio-media:HOVER,.text-media:HOVER {
	opacity: 0.8;
}

.media-panel {
	width: 24.9%;
	height: 100%;
	float: left;
	border-left: 0.1em ridge #000;
}

.content {
	width: 100%;
	height: 92%;
	position: relative;
}

.image-trigger img,.video-trigger img {
	border: 4px solid #FFF;
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	width: 70px;
	height: 70px;
}

.content img:HOVER {
	border: 4px solid #B6B8CE;
}

.media {
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 42px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}

.audio-media {
	width: 62%;
	max-width: 218px;
	height: 55px;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.47);
	border-radius: 5px;
	background-image: url('../img/audio-background-blue.jpg');
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
	padding-left: 40px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 12px;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	position: relative;
}

.audio-trigger {
	color: black;
	text-decoration: none;
}

.audio-media:VISITED,.text-media:VISITED {
	color: black;
}

.text-media {
	width: 62%;
	max-width: 218px;
	height: 55px;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.47);
	border-radius: 5px;
	background-image: url('../img/document-background-blue.jpg');
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	margin-top: 25px;
	padding-left: 40px;
	text-align: center;
	padding-top: 12px;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	position: relative;
}

.document-trigger {
	text-decoration: none;
	color: black;
}

audio {
	width: 800px;
	height: 275px;
}

.author {
	text-decoration: none;
	font-weight: bold;
}

.title {
	text-decoration: none;
	font-style: italic;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 82%;
	overflow: hidden;
	padding-left: 8%;
}

#search-default {
	width: 99%;
	height: 100%;
	display: none;
	border-left: 1px solid #000;
	font-size: 1.5em;
	text-align: center;
	line-height: 585px;
}

/* Image clustering*/
.cluster {
	float: left;
	width: 70px;
	height: 70px;
	position: relative;
	margin-left: 42px;
	margin-top: 28px;
	margin-right: 10px;
	cursor: pointer;
	top: 5px;
	left: 4px;
}

.cluster img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	border: 4px solid #fff;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	width: 70px;
	height: 70px;
}

.cluster:HOVER:BEFORE {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

.cluster:HOVER:AFTER {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

.cluster:last-of-type {
	margin-right: 0;
}

.cluster:before,.cluster:after {
	content: "";
	border-radius: 3px;
	width: 70px;
	height: 70px;
	position: absolute;
	border: 10px solid #fff;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cluster:before {
	top: 2px;
	z-index: -10;
} /* 1st element in stack (behind image) */
.cluster:after {
	top: 2px;
	z-index: -20;
} /* 2nd element in stack (behind image) */
.cluster:before {
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	transform: rotate(12deg);
	top: 3px;
	z-index: -10;
}

.changed:before {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);
	top: 3px;
	z-index: -10;
}

.changed:after {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 3px;
	z-index: -20;
}

.cluster:after {
	-webkit-transform: rotate(-11deg);
	-moz-transform: rotate(-11deg);
	transform: rotate(-11deg);
	top: 3px;
	z-index: -20;
}

.cluster-element {
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 42px;
	display: none;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}

.cluster-element img {
	border: 4px solid rgb(142, 152, 173);
}

.cluster-selected {
	border: 4px solid #2F476B;
}

.tooltip .cluster-preview {
	float: left;
}

.tooltip .cluster-preview img {
	width: 55px;
	height: 55px;
	margin-left: 15px;
	margin-top: 8px;
	border: 2px solid #FFF;
}

.tooltip .cluster-preview img:HOVER {
	border: 2px solid #B6B8CE;
}

/*Tooltips*/
#image-content span,#video-content span {
	display: none;
	position: absolute;
	max-width: 290px;
	max-height: 146px;
	border: 4px solid #0B182C;
	border-radius: 3px;
	background-color: #0B182C;
	border-radius: 5px;
	z-index: 500;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.right {
	top: -40px;
	left: 93px;
}

.left,.left-image {
	top: -40px;
	left: -248px;
}

#audio-content span {
	display: none;
	position: absolute;
	width: 222px;
	height: 135px;
	border: 4px solid #0B182C;
	background-image: url('../img/audio-media-back.jpg');
	border-radius: 5px;
	z-index: 500;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

#document-content span {
	display: none;
	position: absolute;
	width: 226px;
	height: 135px;
	padding-top: 5px;
	padding-left: 5px;
	border: 4px solid #0B182C;
	color: black;
	background-color: white;
	border-radius: 5px;
	z-index: 500;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	border: 4px solid #0B182C;
}

span.cluster-tooltip {
	width: 240px;
	height: 146px;
	left: 84px;
}

#tooltip-text {
	width: 224px;
	height: 134px;
	overflow: auto;
}

.right:before,.left:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #0B182C transparent transparent;
	top: 45%;
	left: -24px;
}

.left:before {
	left: 224px;
	z-index: 80;
	border-color: transparent transparent transparent #0B182C;
}

#document-content span:before {
	left: 233px;
}

.tooltip img,.tooltip video {
	max-width: 290px;
	max-height: 146px;
	border: 0px;
}

.tooltip img:HOVER {
	border: 0px;
}

.scrollable {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scrollable:HOVER {
	overflow: auto;
}

/* Scrollbars */

/* Chrome scrollbar */
::-webkit-scrollbar {
	width: 9px;
	height: 3px;
}

::-webkit-scrollbar-button {
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 3, 26, 0.08);
	border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
	height: 20px;
	background-color: rgba(4, 8, 56, 0.24);
	border-radius: 5px;
}

::-webkit-scrollbar-corner {
	background-color: rgba(153, 153, 153, 0);
}

::-webkit-resizer {
	background-color: #666;
}

@
-moz-document url-prefix               (http: //),url-prefix             
	 (https: //) {scrollbar { -moz-appearance:none!important;
	background: rgb(0, 255, 0) !important;
}

thumb,scrollbarbutton {
	-moz-appearance: none !important;
	background-color: rgb(0, 0, 255) !important;
}

thumb:hover,scrollbarbutton:hover {
	-moz-appearance: none !important;
	background-color: rgb(255, 0, 0) !important;
}

scrollbarbutton {
	display: none !important;
}

scrollbar[orient="vertical"] {
	min-width: 15px !important;
}

}
.loader {
	width: 50px;
	display: block;
	margin: 50% auto 0px auto;
}

.loader:HOVER {
	border: 0px solid transparent;
}

#message {
	display: none;
	z-index: 10000;
	position: absolute;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	background-color: rgba(30, 47, 71, 0.96);
	color: white;
	border-radius: 3px;
	-webkit-box-shadow: 2px 6px 10px 3px rgba(0, 0, 0, 0.29);
	box-shadow: 2px 6px 10px 3px rgba(0, 0, 0, 0.29);
}

#progress {
	display: none;
	position: relative;
	width: 90%;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 5px;
	margin: 12px auto 0px auto;
}

#bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 15px;
	border-radius: 5px;
}

#percent {
	position: absolute;
	display: inline-block;
	left: 44%;
	top: 3px;
	font-size: 0.55em;
	color: rgba(2, 2, 99, 0.75);
	left: 44%;
	font-size: 0.55em;
}

#upload-message {
	width: 90%;
	height: 20px;
	font-size: 0.6em;
	text-align: center;
	display: none;
	line-height: 20px;
	margin: 0 auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#query-file {
	display: block;
}

#logo:hover {
	opacity: 0.4;
}

/*
@media screen and (max-width: 1285px) {
	.media-panel {
		width: 24.7%;
	}
	#results {
		width: 83.6%;
	}
}

@media screen and (min-width: 1285px) and (max-width: 1360px) {
	.media-panel {
		width: 24.8%;
	}
	#results {
		width: 83.7%;
	}
} */