/*CSS Document */
@CHARSET "UTF-8";

@font-face {
	font-family: Webly;
	src: url('../font/webly.ttf');
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-it.ttf');
	font-style: italic;
}

body {
	font-family: Webly, Helvetica, sans-serif;
	background-image: url("../img/page.jpg");
	margin: 0;
	padding: 0;
}

#logo {
	height: 30px;
	margin: 20px auto 10px auto;
	text-align: center;
}

#logo img {
	margin-left: -300px;
	width: 200px;
}

#container {
	width: 755px;
	margin: 0 auto;
}

#main-wrapper {
	width: 750px;
	height: 240px;
	margin: 200px auto 0px auto;
	border-radius: 10px;
	background-image: -ms-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -moz-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -o-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #17181F),
		color-stop(1, #4F9BB3) );
	background-image: -webkit-linear-gradient(bottom, #182918 0%, #4F9BB3 100%);
	background-image: linear-gradient(to top, #17181F 0%, #4F9BB3 100%);
	-moz-box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	-webkit-box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	border-color: black;
	border-style: solid;
	border-width: 2px;
	color: white;
}

#user-area,#user-area-logged {
	display: inline-flex;
	font-weight: bold;
	height: 40px;
	border-radius: 10px;
	background-image: -ms-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -moz-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -o-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #17181F),
		color-stop(1, #4F9BB3) );
	background-image: -webkit-linear-gradient(bottom, #182918 0%, #4F9BB3 100%);
	background-image: linear-gradient(to top, #17181F 0%, #4F9BB3 100%);
	-moz-box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	-webkit-box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.28);
	border-color: black;
	border-style: solid;
	border-width: 2px;
	color: white;
	padding-left: 20px;
	padding-top: 15px;
	border-radius: 10px;
	float: right;
}

#user-area a,#user-area-logged a {
	color: white;
	text-decoration: none;
	float: left;
	margin-right: 15px;
}

#user-area a:HOVER,#user-area-logged a:HOVER {
	color: #FF6D56;
}

.tab {
	padding-left: 10px;
}

#search-form {
	float: left;
	width: 280px;
	height: 45px;
	border-radius: 8px;
	font-size: 1.2em;
	margin: 90px 40px;
}

#filedrag {
	margin: 30px auto 10px 10px;
	padding: 10px;
	float: left;
	width: 252px;
	height: 160px;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	border: 3px dashed #FFF;
	border-radius: 8px;
	position: relative;
}

#image-container {
	display: none;
}

#image-container img {
	max-height: 100px;
	display: block;
	margin: 0 auto;
}

#file-name {
	display: block;
	font-size: 0.5em;
	margin-top: 10px;
	margin-bottom: -44px;
	width: 100%;
}

#login-form h2 {
	color: white;
}

input[type="file"] {
	padding-left: 10px;
	font-family: Webly, Helvetica, sans-serif;
}

input[type="text"] {
	padding-left: 15px;
	font-family: Webly, Helvetica, sans-serif;
}

.search-button {
	border-radius: 5px;
	font-family: Webly, Helvetica, sans-serif;
	float: none;
	margin: 0 auto;
}

.user-avatar {
	width: 35px;
	margin-top: -5px;
	margin-left: -5px;
	margin-right: 10px;
	float: left;
}

.logout-button {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	color: #ffffff;
	background-image: -webkit-linear-gradient(top, rgba(60, 76, 91, 0.36),
		rgba(38, 56, 73, 0.73) );
	background-image: -o-linear-gradient(top, #3C4C5B, #263849);
	background-image: linear-gradient(top, #3C4C5B, #263849);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B',
		endColorstr='#263849', GradientType=0 );
	border-color: #684682 #263849 #263849 #684682;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35)
		rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin-right: 10px;
	margin-top: -5px;
	cursor: pointer;
	padding: 5px;
}

.logout-button:HOVER {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	border-color: #684682 #263849 #263849 #684682;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35)
		rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

input:FOCUS {
	outline: none;
}

#progress {
	display: none;
	position: relative;
	width: 90%;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 5px;
	margin: 12px auto 0px auto;
}

#bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 25px;
	border-radius: 5px;
}

#percent {
	position: absolute;
	display: inline-block;
	left: 44%;
	top: 3px;
	font-size: 0.55em;
	color: rgba(2, 2, 99, 0.75);
	left: 44%;
	font-size: 0.55em;
}

#upload-message {
	width: 90%;
	height: 40px;
	font-size: 0.6em;
	text-align: center;
	display: none;
	line-height: 40px;
	margin: 0 auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#upload-wrapper {
	float: right;
	width: 172px;
	height: 42px;
	line-height: 42px;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 100px;
	margin-right: -210px;
}

#upload-wrapper img {
	height: 100%;
	float: right;
}

#upload-wrapper a {
	text-decoration: none;
	color: black;
}

#upload-wrapper a:HOVER {
	opacity: 0.7;
}

.error {
	color: rgba(253, 111, 111, 0.69) !important;
}