@CHARSET "UTF-8";

h1 {
	float: right;
	margin-top: 65px;
	margin-right: 75px;
	font-size: 2.5em;
}

#logo img {
	margin-left: 0px;
}

#filedrag {
	margin: 30px auto 10px 50px;
}

#media-info {
	float: left;
	width: 370px;
	height: 185px;
	margin-left: 30px;
}

.input {
	width: 250px;
	margin-left: 45px;
	margin-top: 40px;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	font-size: 1.1em;
}

#query-file {
	margin-top: 30px;
}

.search-button {
	display: block;
	margin-top: 30px;
}

.bar-error {
	background-color: rgba(253, 111, 111, 0.69) !important;
}

.loading {
	width: 25px;
	margin-top: 19px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}