@CHARSET "UTF-8";

body {
	font-family: Ubuntu;
	color: white;
	background-image: url("../img/page.jpg");
}

a {
	text-decoration: none;
}

a:HOVER {
	color: #FF6D56;
}

h1 {
	font-size: 1.5em;
}

span {
	font-weight: bold;
}

.modify {
	color: #FF6D56;
	float: right;
	text-decoration: none;
}

.modify:HOVER {
	color: white;
}

#user-form, #user-area {
	width: 400px;
	height: 400px;
	margin: 80px auto 20px auto;
	border-radius: 10px;
	background-image: -ms-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -moz-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -o-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #17181F),
		color-stop(1, #4F9BB3) );
	background-image: -webkit-linear-gradient(bottom, #182918 0%, #4F9BB3 100%);
	background-image: linear-gradient(to top, #17181F 0%, #4F9BB3 100%);
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding-left: 30px;
	padding-right: 30px;
}

#user-area {
	height: 270px;
}

#user-form img {
	width: 160px;
}

.back-button {
	padding-left: 435px;
}

.input-form {
	width: 380px;
	height: 30px;
	border-radius: 8px;
}

input:FOCUS {
	outline: none;
}

input {
	margin-top: 5px;
	padding-left: 10px;
}

#submit {
	border-radius: 5px;
	width: 100px;
	height: 30px;
	margin-left: 140px;
	margin-top: -5px;
	font-size: 1em;
	float: right;	
}

#upload-form {
	display: none;
	margin: 20px auto;
	background: rgba(238, 238, 238, 0.28);
	border-radius: 10px;
	padding: 15px
}

#progress {
	display: none;
	position: relative;
	width: 400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 5px;
}

#bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 25px;
	border-radius: 5px;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}

.error {
	color: red;
}

.flushleft {
	float: left;
}

.flushright {
	float: right;
}